    {% extends 'app.html.twig' %}
    
 {% block title %}QuizClass 2.0 - Meu Quiz {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    
 {% block body %}
    <div class="pt-5">
        <a href="{{ path('app_curso_gerenciar', {'curso_id': curso_id}) }}"><i class="fas fa-chevron-left" title="Voltar"></i> Voltar para gerenciamento do curso</a>
        <h3 class="mt-2 mb-2">Editar Curso</h3>
        {{ include('app/curso/_formCurso.html.twig') }}
    </div>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script>
        let imageCurso = document.getElementById('novo_curso_imagemCurso').value;
        
        if(imageCurso && imageCurso !== undefined && imageCurso !==''){
            $('#label-carregar-imagem-curso').html('').append(
                `<img src="${imageCurso}" style="max-height: 45px;"/>`
            )
        }
    </script>
    <script>
        $('#imagem-curso').change(function() {
            var file = $(this).prop('files')[0];
            const formData = new FormData();
            formData.append('file', file);
            formData.append('user_id', '{{user_id}}');
            formData.append('curso_id', '{{curso_id}}');

            $('#label-carregar-imagem-curso').html('').append(
                '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Enviando imagem...'
            );
            $.ajax({
                type: "POST",
                url: '/upload/outros',
                data: formData,
                processData: false,  
                contentType: false,  
            }).done(function (data) { 
                $('#label-carregar-imagem-curso').html('').append(
                    `<img src="${data.url}" style="max-height: 45px;"/>`
                );
                document.getElementById('novo_curso_imagemCurso').value=(data.url);
            }).fail(function() {
                $('#label-carregar-imagem-curso').html('Erro! Tente novamente');
            });
        })
    </script>
{% endblock %}