{% extends 'app.html.twig' %}
    
 {% block title %}QuizClass 2.0 - Meu Quiz {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <style>
        .div-list-curso{
            width: 270px; 
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            padding: 15px;
        }
        .div-img-curso{
            width:100%;
            height:145px;
        }
        .img-curso{
            width:100%;
            height:100%;
        }
        .info-cursos{
            font-size: 13px;
            line-height: 15px;
        }
    </style>
{% endblock %}
    
 {% block body %}
    <div class="pt-4">
         <div class="row justify-content-center justify-content-xl-between justify-content-sm-between justify-content-md-between justify-content-lg-between">
             <div class="mr-3">
                 <h1 class="flex-row-default"><span class="badge-default bg-default mr-3">{{ "%02d"|format(quantidadeCursos) }}</span> Meus Cursos</h1>
             </div>
             <div>
                 <a href="{{ path('app_curso_novo') }}" class="btn btn-lg btn-dark shadow-default"><i class="fas fa-plus"></i> Novo Curso</a>
             </div>
         </div>
     </div>
    <div class="row justify-content-center justify-content-xl-start justify-content-sm-center justify-content-md-start justify-content-lg-start">
        {% for curso in cursos %}
            <div class="div-list-curso card m-2 mr-3">
                
                <div class="card-body p-0 pt-3">
                    <h5 class="card-title">{{curso.nome}}</h5>
                    <div class="info-cursos mb-2">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text"><i class="fas fa-graduation-cap"></i> {{ "%02d"|format(quantidadeTurmas[loop.index-1]) }} turmas</p>
                            </div>
                            <div class="col-6 pr-0">
                                <p class="card-text info-cursos"><i class="fas fa-share-alt-square"></i> {{ "%02d"|format(quantidadeConteudos[loop.index-1]) }} quizzes<br>disponiveis</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-6">
                                <p class="card-text"><i class="fas fa-user-friends"></i> {{ "%02d"|format(quantidadeAlunos[loop.index-1]) }} alunos</p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('app_curso_gerenciar', {'curso_id': curso.id}) }}" class="btn btn-default flex-center-default btn-block p-2">Gerenciar curso <i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}