{% extends 'site.html.twig' %}

{% block title %}Quiz Class - Entrar na área do aluno{% endblock %}

{% block body %}
    {% include 'menus/site_empty.html.twig' %}
    <div class="login-page pt-5">
        <div class="row row-login">
            <div class="col-md-6 img-aluno">
            </div>
            <div class="col-md-6 p-4">
                <form id="form-responder-quiz" action="javascript:submitForm()" class="text-left">
                    <h1 class="h3 mb-4 mt-2 m-2">Aluno</h1>
                    <p>Entre no seu Quiz/Game informando o código abaixo:</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <input id="codigoQuiz" type="text" name="codigo" class="form-control form-default mr-2"
                               placeholder="Codigo da sala" required>
                        <button class="btn btn-lg btn-dark" style="height: 50px; width: 150px;" type="submit">
                            <i class="fas fa-check" style="color: white;"></i> Entrar
                        </button>
                    </div>
                    {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="row mt-3">
                            <div class="col">
                               <div class="alert alert-{{ label }} alert-dismissible fade show">
                                    {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endfor %}   
                </form> 
                
                <form method="post" class="text-left mt-5">
                    {% if error %}
                        <br/>
                        <div class=" alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h6 class="font-weight-bold">Acessar área do aluno</h6>
                    <p>Acesse seu material didático, faça suas aulas e exercícios</p>

                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control form-default mt-2" placeholder="E-mail" required>
                    <input type="password" name="password" id="inputPassword" class="form-control form-default mt-4"
                           placeholder="Senha" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/aluno/dashboard"/>

                    <div class="d-flex justify-content-between flex-wrap mt-4 mb-4">
                        <button class="btn btn-dark btn-lg" style="height: 50px;" type="submit">
                            <i class="fas fa-check"></i> Entrar
                        </button>
                        <div class="d-flex align-items-center flex-nowrap">
                            <a href="{{ path('app_forgot_password_request') }}" class="text-dark font-weight-bold" style="padding-right:3px;"> Esqueceu a
                                senha?</a>|
                            <a href="#" class="text-dark font-weight-bold" style="padding-left:3px;"> Criar minha conta
                                grátis</a>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row ">
                    {# <a class="btn btn-primary  ml-3 mt-2 mr-2 btn-lg" href="{{ path('connect_facebook_start_aluno') }}"><i class="fab fa-facebook-square"></i> Entrar
                        com o Facebook</a> #}
                   
                </div>
                
                     {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div> #}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function submitForm(){
            const route = "{{ path('app_responder_quiz', {codigo: '1'})|escape('js') }}";

            let url = $("#form-responder-quiz").attr("action");
            let codigoQuiz = document.getElementById('codigoQuiz').value;

            url = route.slice(0, -1);
            url += codigoQuiz;

            $("#form-responder-quiz").attr("action", url);
            $("#form-responder-quiz")[0].submit();
        }
    </script>
{% endblock %}

