{% extends 'aluno.html.twig' %}
    
{% block title %}QuizX - Dashboard {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    
{% block body %}
    <div class="container pt-4">
        <h1>Bem Vindo, {{app.user.nome}}!</h1>
        <hr/>
        {{ include('aluno/curso/list-cursos.html.twig', {'matriculas': matriculas}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}