{% extends 'app.html.twig' %}
    
 {% block title %}QuizClass 2.0 - Meu Quiz {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    
 {% block body %}
<style>
    hr{
        margin: 0;
        font-weight
    }
    .iformacao{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #9F9C9C;
    }
</style>
    <div class="container pt-4">
        {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        
        {{ include('app/minhaConta/nav.html.twig',{page: 'integracao'}) }}

        <div class="pt-4">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        <label>
                            Configurações Rd Station
                        </label>
                        <p class="iformacao">Para total integração com a rd station é necessario informar o client id e o client secret do aplicativo configurado na rd. Também é necessario que na configuração do aplicativo na rd station informe como url de callback o seguinte endereço: <u>https://quizclass.com.br/app/rdstation/callback</u></p>                
                    </div>
                </div>   
            
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(form.rdStationClientId) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.rdStationClientSecret) }}
                    </div>
                </div>    
            
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(form.rdStationApiToken) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.rdStationEventoConversao) }}
                    </div>
                </div>    
                <div class="row">
                    <div class="col">
                        <label>
                            Pagamento
                        </label>
                        <p class="iformacao">Informações necessárias para receber pagamentos pela nossa plataforma</p>                
                    </div>
                
                </div>   
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(form.banco) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.agencia) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.conta) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.braspagMerchantId) }}
                    </div>
                </div> 
                {{ form_row(form.salvar) }}
            {{ form_end(form) }}
        </div>
    </div>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    <script>
        jQuery(document).ready(function() {
            $('.js-select2').select2({
                width: '100%'
            });
        });
            
    </script>
{% endblock %}